doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='https://fonts.googleapis.com/css?family=Sura' rel='stylesheet' type='text/css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		block scripts
			script(src='https://code.jquery.com/jquery-2.2.0.min.js')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
			script(src='javascripts/util.js')
	body
		div(class='background-wrapper z-depth-3')
			block header
			div(class='container')
				block content
