$blue-darken-4: #0d47a1;
$green-lighten-3: #a5d6a7;
$red: #f44336;
$purple-accent-3: #d500f9;
$teal: #009688;
$light-blue: #03a9f4;
$green-lighten-2: #81c784;
$orange-accent-3: #ff9100;
$orange-accent-4: #ff6d00;
$blue-grey: #607d8b;
$blue-grey-lighten-3: #b0bec5;
$blue-grey-lighten-2: #90a4ae;
$blue-grey-lighten-1: #78909c;
$grey: 9e9e9e;
$grey-darken-1: #757575;
$grey-lighten-1: #bdbdbd;
$amber: #ffc107;

@mixin links($link, $visited, $hover) {
	a:link {
		color: $link;
	}
	a:visited {
		color: $visited;
	}
	a:hover {
		color: $hover;
	}
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

header {
	.intro {
		margin-bottom: 0;
	}
	nav {
		padding: 0;
		margin: 0;
		text-align: center;
		
		img {
			padding: 10px;
			padding-top: 16px;
			padding-left: 20px;
			padding-bottom: 18px;
			background-color: $blue-darken-4;
			&:hover {
				background-color: darken($blue-darken-4, 4%);
			}
		}
	}
}

main {
	.blog {
		@include links($blue-darken-4, $red, $purple-accent-3);
	}
	.about {
		@include links($blue-darken-4, $grey-lighten-1, $orange-accent-3);
	}
	
	.news {
		@include links ($amber, $grey-lighten-1, $red);
	}
}